@font-face {
  font-family: fac;
  src: url();
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
}

.red-fonts {
  color: var(--v-basic-base) !important;
}

b.green {
  color: #57c675;
}

b.blue {
  color: #6fb8f4;
}

b.linker a {
  color: #297ae5;
  text-decoration: none;
}

.p5-wrap > * {
  padding: 15px;
}
